@tailwind base;
@tailwind components;
@tailwind utilities;


.camera-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.capture-btn:hover {
  background-color: #2563eb;
  /* Darker blue on hover */
}